@import '@/assets/scss/variables';


.homePage {

  &__wrapper{
    padding: 50px 0;
  }

  &__projectsBg {
    background: url('@/assets/img/projectBg.jpg') no-repeat;
    background-size: 100% 100%;
  }

  &__projects {
    padding: 50px 0;
  }

}
