@import '@/assets/scss/variables';
@import '@/assets/scss/mixin';

.header {
  width: 100%;
  padding: 50px 0 0;
  margin: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    min-width: 30%;

    @include response(tablet) {
      order: 2;
      flex-wrap: wrap;
    }
  }

  &__socialMedia {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    gap: 50px;
    min-width: 30%;

    @include response(tablet) {
      flex-wrap: wrap;
    }
  }

  &__contact {
    color: $base-color;
  }

  &__logoWrapper {
    width: 100%;
    height: fit-content;
    max-width: 200px;

    &--mini {
      max-width: 50px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__nav {
    padding-top: 50px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;

    @include response(tablet) {
      display: none;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    font-weight: 700;
    color: $base-color;
  }

  &__burger {
    display: none;
    width: 100%;
    height: fit-content;
    max-width: 50px;
    padding: 15px 0;

    @include response(tablet) {
      display: block;
    }
  }

}
