@import '@/assets/scss/variables';
@import '@/assets/scss/mixin';

.footer {
  padding: 50px 0;
  width: 100%;
  background: #ebf4ef;

  &__wrapper {
    @include response(phone) {
      text-align: center;
    }
  }

  &__animation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include response(phone) {
      gap: 60px;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 50px;
    color: $base-color;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;

    @include response(phone) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__contacts {
    font-size: 20px;
    line-height: 30px;
    color: $base-color;
  }

  &__menu {
    list-style: none;
  }

  &__navLink {
    font-size: 20px;
    line-height: 30px;
    color: $base-color;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__linksItem {
    font-size: 20px;
    line-height: 30px;
    color: $base-color;
  }

  &__copyright {
    display: flex;
    gap: 50px;

    @include response(phone) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__copyrightItem {
    font-size: 20px;
    line-height: 30px;
    color: $base-color;
  }
}
